body {
  font-family: sans-serif;
  text-align: center;
}

.login-box {
  margin: 50px auto;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.login-box input {
  margin: 10px;
  padding: 10px;
}

button {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
